@media only screen and (min-width: 576px) {
    .container {
        max-width: 546px;
    }
}
@media only screen and (min-width: 768px) {
    .container {
        max-width: 738px;
    }
}
@media only screen and (min-width: 992px) {
    .container {
        max-width: 972px;
    }
}
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1250px;
    }
}
