:root {
    --light-green: #7ed56f;
    --medium-green: #55c57a;
    --dark-green: #28b485;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 1.9rem;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #777;
}
.container {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.logo {
    width: 100%;
    height: auto;
}
.btn:link,
.btn:visited {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 40px;
    padding: 1rem 2.5rem;
    transition: all 0.3s;
    z-index: 5;
}
.btn::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    z-index: -1;
    background: #fff;
    transition: all 0.3s;
}
.btn:hover::after {
    z-index: 1;
    transform: scale(1.4);
    opacity: 0;
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn--white {
    background: #fff;
}
.btn--green {
    background: var(--medium-green);
}
.header {
    height: 95vh;
    background: linear-gradient(to right bottom, #7ed56fcc, #28b485cc),
        url('../img/hero.jpg') top/cover no-repeat;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.header__menu {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}
.header__logo > img {
    width: 5rem;
}
.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
}
.header__title {
    font-size: 4rem;
    color: #fff;
    letter-spacing: 2rem;
    font-weight: 400;
    -webkit-animation: moveInLeft 1.5s;
    animation: moveInLeft 1.5s;
}
@-webkit-keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-9rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-9rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.header__SubTitle {
    color: #fff;
    letter-spacing: 0.9rem;
    margin-bottom: 3rem;
    -webkit-animation: moveInRight 1.5s;
    animation: moveInRight 1.5s;
}
@-webkit-keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(9rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(9rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.btn--animate {
    -webkit-animation: BtnBottomToTop 1s;
    animation: BtnBottomToTop 1.5s;
}
@-webkit-keyframes BtnBottomToTop {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes BtnBottomToTop {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
