:root {
    --light-green: #7ed56f;
    --medium-green: #55c57a;
    --dark-green: #28b485;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7;
    color: #777;
    padding: 1.9rem;
}
a {
    text-decoration: none;
    color: #777;
}
.container {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.logo {
    width: 100%;
    height: auto;
}
.header {
    height: 95vh;
    background: linear-gradient(to right bottom, #7ed56fcc, #28b485cc),
        url('../img/hero.jpg') top/cover no-repeat;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.header__menu {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}
.header__logo > img {
    width: 80px;
}
.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
}
.header__title {
    font-size: 4rem;
    color: #fff;
    letter-spacing: 2rem;
    font-weight: 400;
    -webkit-animation: moveInLeft 1.5s;
    animation: moveInLeft 1.5s;
}
@-webkit-keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.header__SubTitle {
    color: #fff;
    letter-spacing: 0.9rem;
    -webkit-animation: moveInRight 1.5s;
    animation: moveInRight 1.5s;
}
@-webkit-keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.header__btn {
    display: inline-block;
    margin-top: 3rem;
    text-transform: uppercase;
    background: #fff;
    border-radius: 40px;
    padding: 1rem 2.5rem;
}
