.about {
    background: $gray-section;
    padding: 22rem 0;
    margin-top: -20vh;
    &__textBox {
        padding-right: 5.5rem;
    }
    &__textBox:first-child {
        margin-bottom: 3rem;
    }
}
