.container {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    @media only screen and (min-width: 576px) {
        max-width: 546px;
    }
    @media only screen and (min-width: 768px) {
        max-width: 738px;
    }
    @media only screen and (min-width: 992px) {
        max-width: 972px;
    }
    @media only screen and (min-width: 1200px) {
        max-width: 1250px;
    }
}
