.btn--white {
    @include btn($white-color);
    background: $white-color;
}
.btn--green {
    @include btn($medium-green);
    background: $medium-green;
    color: $white-color;
}

.btn--animate {
    animation: BtnBottomToTop 1.5s;
}
.btn-text {
    display: inline-flex;
    align-items: baseline;
    text-transform: capitalize;
    color: $medium-green;
    font-size: 1.6rem;
    padding: 0.4rem;
    border-bottom: 1px solid $medium-green;
    @include transition(all 0.3s);
    &:hover {
        background: $medium-green;
        border-radius: 4rem;
        color: #fff;
    }
}
.icon-btn {
    margin-left: 0.5rem;
}
