*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    padding: 2rem;
    line-height: 1.7;
    box-sizing: border-box;
    text-transform: capitalize;
}

img {
    width: 100%;
    height: auto;
}
