html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}
body {
    font-family: 'Lato', sans-serif;
    // font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7;
    color: $dark-gray;
    @media (prefers-color-scheme: dark) {
        color: $white-color;
    }
}
a {
    text-decoration: none;
    color: $dark-gray;
}
.header {
    &__title {
        font-size: 6.4rem;
        color: $white-color;
        letter-spacing: 3.2rem;
        font-weight: 400;
        -webkit-animation: moveInLeft 1.5s;
        animation: moveInLeft 1.5s;
    }
    &__SubTitle {
        color: $white-color;
        font-size: 2rem;
        letter-spacing: 1.75rem;
        margin-bottom: 3rem;
        -webkit-animation: moveInRight 1.5s;
        animation: moveInRight 1.5s;
    }
}
.section__title {
    text-align: center;
    margin-bottom: 7rem;
    h2 {
        text-transform: uppercase;
        @include font-liner();
        font-size: 3.2rem;
        letter-spacing: 0.32rem;
        @include transition(transform 0.4s, text-shadow 0.3s);
        &:hover {
            transform: skew(15deg, 2deg) scale(1.1);
            text-shadow: 3px 0.9rem 0.8rem rgba($black-color, 0.2);
        }
    }
    &:nth-last-of-type(2) {
        margin-bottom: 4rem;
    }
    &:last-of-type {
        margin-bottom: 2rem;
        text-align: left;
    }
}
.title-box {
    text-transform: uppercase;
    font-size: 1.5rem;
}
.paragraph {
    margin: 1rem 0;
    font-size: 1.5rem;
}
%weight-300 {
    font-weight: 300;
}
