@mixin transition($property...) {
    transition: $property;
}
@mixin liner-bg-green($address) {
    background: linear-gradient(
            to right bottom,
            rgba($light-green, 0.8),
            rgba($dark-green, 0.8)
        ),
        url($address) top/cover no-repeat;
}
@mixin liner-card($dark-color, $light-color) {
    background: linear-gradient(to top left, $dark-color, $light-color);
}
@mixin font-liner {
    display: inline-block;
    background: linear-gradient($light-green, $dark-green);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
